@import '~@blueprintjs/core/lib/scss/variables';

@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: url('./fonts/SegMDL2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.container {
  display: flex;
  line-height: 12px;
  font-size: 12px;
  align-items: center;
  height: 32px;
  white-space: nowrap;
  background-color: rgba($dark-gray1, 0.85);

  > .left {
    flex-shrink: 0;
  }

  &.focused {
    background-color: $dark-gray1;
  }

  > .middle {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    flex-grow: 1;
    height: inherit;

    > .caption {
      display: flex;
      margin: 0 8px;
      opacity: 0.5;
      grid-row: 2;
      color: white;
      align-items: center;
      -webkit-app-region: drag;

      @at-root .focused#{&} {
        opacity: 1;
      }

      > label {
        font-size: 13px;
        flex-grow: 1;
      }

      > .environment {
        border-radius: 3px;
        font-weight: 600;
        font-size: smaller;
        padding: 4px 6px;
        opacity: 0.33;
        color: white;
        border: 1px solid white;

        @at-root .focused#{&} {
          opacity: 0.66;
        }
      }
    }

    > .spacer {
      -webkit-app-region: drag;
      grid-row: 3;
    }
  }

  > .buttons {
    display: flex;
    height: inherit;

    > .button {
      font-family: 'Segoe MDL2 Assets';
      font-size: 10px;
      background-color: transparent;
      align-content: center;
      justify-content: center;
      grid-row: 1;
      color: white;
      display: flex;
      width: 46px;

      > span {
        opacity: 0.5;
        margin: auto;
        pointer-events: none;

        @at-root .focused#{&} {
          opacity: 1;
        }
      }

      &.large-icon {
        font-size: 12px;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.25;
      }

      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      &:active {
        background-color: rgba(128, 128, 128, 0.25);
      }

      &.close {
        &:hover {
          background-color: #e81123;

          > span {
            opacity: 1;
          }
        }
      }
    }

    > .divider {
      margin: 10px 4px;
      border-left: 1px dotted white;
      opacity: 0.375;

      @at-root .focused#{&} {
        opacity: 0.75;
      }
    }
  }
}
